<h1>Работает</h1>

<%= form_with scope: :order,url:order_create_path, local: true do |form| %>

    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@order.errors.count, "error") %> Не коректно заполнена форма:
          </h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :phone %><br>
      <%= form.text_area :phone %>
    </p>

    <table>
      <tr>
        <th width="70">Товар</th>
        <th width="50">Кво</th>
        <th width="50">Цена</th>
        <th width="100">Сумма</th>
      </tr>
      <% @all_summ = 0 %>
      <% init_cart.line_items.each do |product| %>
          <tr>
            <% @product = Product.find(product.product_id) %>
            <td><%= @product.name %></td>
            <td><%= product.quantity %></td>
            <td><%= @product.price %></td>
            <td><%= @product.price*product.quantity %></td>
            <% @all_summ += @product.price*product.quantity %>
          </tr>
      <% end %>

      <tr>
        <td></td>
        <td></td>
        <td><strong>Итого:</strong></td>
        <td><strong><%= @all_summ  %></strong></td>
      </tr>
    </table>

    <p>
      <%= form.submit %>
    </p>

    <%= link_to 'Назад', root_path %>
<% end %>


