<!DOCTYPE html>
<html>
  <head>
    <title>Интернет магазин игрушок</title>
    <% if (yield :description).present?  %>
        <meta name="description" content='<%= yield :description %>'/>
    <% else %>
        <meta name="description" content="Итнернет магазин игрушок, и не только" />
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= yield %>
  </body>
</html>
